.me1 {
    width: 25%;
    height: auto;
    /* padding-left: 10%; */
}

h1 {
    color: #4f6367;
    /* padding-left: 35%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: #4f6367;
    /* padding-left: 25%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

