/* Cascading Style Sheets */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.me1 {
    width: 25%;
    height: auto;
    /* padding-left: 10%; */
}

h1 {
    color: #4f6367;
}

p {
    color: #4f6367;
    max-width: 50%;
}

a:hover {
    color: #4f6367;
}

a:active {
    color: #c7ee1b
}

a {
    color:#b8d8d8;
}